#headSection{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    backdrop-filter: blur(30px);
}

#headSection img{
    height: 90px;
}
